body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: rgb(214, 193, 129);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #0e17c7;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: #d30505;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #e012b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.result {
    margin-top: 20px;
    text-align: center;
}
